body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
.adress {
    font-style: normal;
}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,.nav-link:focus {
    color: #404BBF;
}

.adress-link {
    color :#434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress-link:hover,.adress-link:focus {
    color: #404BBF;
}

.hero-title {
    background: #2E2F42;
}

.head-title {
    color:#fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    color:#FFF;
    background:#4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.hero-btn:hover,.hero-btn:focus {
    background:#404BBF;
}

.feature-descr {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.item-descr {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-title {
    background: #F4F4FD;
}

.team-list {
    background: #FFF;
}
.team-head {
    color:#2E2F42;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.11;  
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-member {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-prof {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-head {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-item {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-descr {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-title {
    background: #2E2F42;
}

.footer-logo {
    color:#4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-part {
    color: #F4F4FD;
}
.footer-item {
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}